<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.voyage">
    <uses-permission android:name="android.permission.CAMERA" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".travellerprofile"></activity>
        <activity android:name=".hostprofile" />
        <activity android:name=".Offers_Activity" />
        <activity android:name=".Available_Activity" />
        <activity android:name=".Reservation_Activity" />
        <activity android:name=".Picture_Activity" />
        <activity android:name=".HostSignupActivity" />
        <activity android:name=".HostHomeScreenActivity" />
        <activity android:name=".SignupActivityTraveler" />
        <activity android:name=".HomeScreenActivity" />
        <activity android:name=".MainActivity2" />
        <activity android:name=".OptionActivity" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>